    body {
        margin: 0px;
    }

    #header {
        line-height: 60px;
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 1;
    }

    header {
        margin-bottom: 20px;
    }

    header .upper {
        position: relative;
    }
    .upper {
        max-width: 75em;
        margin: 0 auto;
    }

    header .logo {
        color: #ffffff;
        display: inline-block;
        font-weight: 400;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        font-size: 25px;
    }

    header a {
        text-decoration: none;
    }

    .elememt {
        display: inline-block;
    }

    #banner {
        padding: 8em 0 9em 0;
        background-image: url(banner.jpg);
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
        text-align: center;
        position: relative;
    }

    #banner:before {
        content:"";
        background: rgba(70, 75, 93, 0.80);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #banner .upper {
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        position: relative;
        padding-top: 50px;
        width: 100%;
    }

    .upper h1 {
        font-size: 40px;
        font-weight: 400;
        color: #fff;
        line-height: 50px;
        margin: 0 0 20px 0;
    }

    header h3 {
        font-size: 30px;
        position: relative;
        z-index: 1;
        text-align: center;
        padding-bottom: 50px;
    }

    header h3:after {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        width: 50%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);

    }

    .middle h3 {
        font-size: 15px;
    }

    #banner h3 {
        font-weight: 400;
        color: #fff;
        margin: 0;
    }

    #banner .icon {
        color: #6cc091;
        font-size: 2em;
    }

    #banner a {
        font-size: 1em;
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 1.75em;
        text-decoration: none;
    }

    #banner .middle {
        text-align: center;
        margin: 0 0 70px 0;
    }

    .middle {
        display: inline-block;
        padding-top: 50px;
    }

    .middle h1 {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .bot {
        float: right;
        margin-left: -20px;
    }

    #banner .middle div {
        padding: 0 8em;
    }

    #banner .middle .bot1 {
        float: left;
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        margin-left: 50px;
    }

    #banner .middle div p {
        margin: 0;
    }

    .btn {
        text-align: center;
    }

    .button {
        background-color: transparent;
        box-shadow: inset 0 0 0 3px #6cc091;
        color: #6cc091;
        border-radius: 30px;
        border: 0;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 2px;
        padding: 0 40px;
        text-align: center;
        text-decoration: none;
    }

    .button:hover {
        background-color:rgba(63, 191, 63, 0.09);
        color: #6cc091
        
    }

    .artx {
        padding: 6em 0;
        color:#555
    }

    .art {
        padding: 6em 0;
        display: flow-root;
        background:lightsteelblue;
    }

    .inner {
        max-width: 100%;
        margin: 0 auto;
    }

    .foot {
        text-align: center;
        color:#555;
        margin-bottom: 140px;
    }

    article {
        box-sizing: border-box;
        width: 50%;
        float: left;
        text-align: center;
    }

    .image-round {
        border-radius: 0;
        border: 0;
        display: inline-block;
        position: relative;
    }

    article img {
        border-radius: 100%;
    }

    header h3 {
        font-size: 1.75em;
        color: #555;
        font-weight: 400;
        line-height: 1.5;
        margin: 0 0 1em 0;
    }

    .article1 {
        box-sizing: border-box;
        width: 100%;
        float: left;
        text-align: center;
    }

    .article1 img {
        border-radius: 100%;
    }
